<!--
<div class="content-div">
    <mat-grid-list cols="2" rowHeight="3:1">
        <mat-grid-tile>
            <img src="../../assets/pictures/choc.jpg" alt="beer">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/pictures/minifood.jpg" alt="beer">
        </mat-grid-tile>
      </mat-grid-list>
</div>
-->
<mat-toolbar color="accent">
    <mat-toolbar-row>
        <span>Because food, is life.</span> 
    </mat-toolbar-row>
<mat-divider></mat-divider>
<mat-toolbar-row>
        <span>Recipes</span> 
    </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>

